footer {
    background-color: darkslategray; 
    color:rgb(241, 241, 241);
    height: 200px;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:40px;
    padding-right:40px;
}


.footer-logo {
    font-size:32px;
    float:left;
    padding-bottom: 50px;
}

/* footer list alamat  */
.footer-list-alamat {
    float: right;
    padding-right: 60px;
    font-size: 18px;
}

.section-title {
    
    padding-left: 20px;           
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.footer-list-alamat li {
    list-style: none;
    
    padding-bottom: 5px;
}

/* footer list kontak  */

.footer-list-kontak {
    float: right;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 18px;
}

.section-title-2 {
    padding-left: 20px;           
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
.footer-list-kontak li {
    list-style: none;
    padding-bottom: 5px;
    
}

/* .sosial-media {
   padding-top: 10px;
    display: flex;
}

.facebook {
    color: aqua;
    padding-right: 22%;
    padding-left: ;
    font-size: 30px;
}

.twitter {
    color:aqua;
    font-size: 30px;
    padding-right: 10px;
    padding-top: 1px;
    
} */

/* .instgram {
    color: #FF4500;
    font-size: 27px;
    padding-right: 10px;
} */


/* css footer list menu */

.footer-list-menu {
    float: left;
    padding: 40px 20px 40 px 20px;

    font-size: 18px;

}

.section-list-menu {
    padding-left: 20px;           
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer-list-menu li  {
    list-style: none;
    padding-bottom: 5px;
}