header {
    width: 100%;
    height: 65px;
    background-color: rgb(243, 205, 162);
}

.logo {
    width: 150px;
    margin-top: 8px;
}

.container {
    width: 1170px;
    padding: px;
    margin: 0 auto;
    font-family: cooper black;
    color: rgb(80, 35, 20);
}


.header-left {
    float: left;
    padding-right: 25px;
}

li {
    float: left;
    padding: 26px 20px;
    list-style: none;
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);

}

.header-right a {
    line-height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(80, 35, 20);
    display: block;
}

/* Bagian Promo */
.promogan {
    text-align: center;
    background-color: #F0D290;
    width: 100%;
    height: 120px;
    font-family: cooper black;
    color: #522414;
    padding-top: 15px;
    padding-bottom: 55px;
    margin: 20px 0;
}

.promogan h2 {
    font-size: 20px;
    margin-bottom: auto;
}

.promogan h3 {
    font-size: 15px;
    margin-bottom: 25px;
    font-style: normal;
}

input {
    padding: 5px 10px;
    width: 45%;
    border-radius: 10px;
    border-style: 0px solid black; 
    margin-right: 10px;
}

.confirm {
    cursor: pointer;
    padding: 6px 20px;
    background-color: #502314;
    border-radius: 10px;
    color: #f3cda2;
    transition: all 0.4s;
    font-family: montserrat regular;
}

.confirm:hover {
    background-color: rgba(80, 35, 20, 0.8);
}
/* end promo */
